    <div class="container-fluid" style="background-color: #f3f3f5;">
		<div class="container py-4 pt-4">
		  <section id="skills">
			<div class="row py-5">
			  <div class="col-lg-6 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">
				<div class="d-flex justify-content-start">
  
				  <h4 class="text-center text-uppercase mb-5 pb-3 mt-4 wow fadeIn" data-wow-delay="0.2s">My
					<strong>experience</strong></h4>
  
				</div>
  
				<blockquote class="blockquote bq-warning">
  
				  <div class="row"> <i class="fas fa-briefcase fa-x mb-1 mr-3 ml-3" aria-hidden="true"></i>
  
					<h5 class="font-weight-bold mb-3">Web developer</h5>
				  </div>
  
				  <p class="font-weight-bold ml-1 dark-grey-text mb-2"><strong>December 2019 - Present

				  </strong></p>
  
				  <p class="mb-0 ml-1 light-grey-text">Developed scalable websites using Django as backend API and intergrate with angular front end.</p>
  
				</blockquote>
  
			  </div>
			  <!-- First column -->
  
			  <!-- Second column -->
			  <div class="col-lg-5 offset-lg-1 col-md-12 mb-4 wow fadeIn" data-wow-delay="0.4s">
  
				<!-- Second heading -->
				<div class="d-flex justify-content-start">
  
				  <h4 class="text-center text-uppercase mb-5 pb-3 mt-4 wow fadeIn" data-wow-delay="0.2s">Development
					<strong>Skills</strong></h4>
  
				</div>
  
				<!-- Description -->
				<p class="black-text text-uppercase font-weight-bold" align="justify">Django</p>
				<p class="black-text text-uppercase font-weight-bold" align="justify">Flask</p>
				<p class="black-text text-uppercase font-weight-bold" align="justify">Java Script</p>
  				<p class="black-text text-uppercase font-weight-bold" align="justify">CSS3</p>  
				<p class="black-text text-uppercase font-weight-bold" align="justify">HTML5</p>
				<p class="black-text text-uppercase font-weight-bold" align="justify">Bootstrap</p>
				<p class="black-text text-uppercase font-weight-bold" align="justify">Angular</p>  
			  </div>
			  <!-- Second column -->
  
			</div>
			<!-- First row -->
  
		  </section>
		  <!-- Second section -->
  
		</div>
  
	  </div>
	  <!-- Second container -->